body {
  width: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
header {
  width: 100%;
  display: flex;
  border-bottom-left-radius: 130px;
  border-bottom-right-radius: 130px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  padding-bottom: 150px;
  background: linear-gradient(#0171f9 0 50%, #0171f8 50% 100%);
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 65%;
  padding: 30px 0;
}
nav {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
li a {
  color: white;
  text-decoration: none;
}
ul {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
  padding: 0;
  color: white;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 5px;
}
.Nav-btn {
  background-color: #ef717a;
  width: 95px;
  padding: 13px;
  border-radius: 999px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.nav-left img {
  width: 75px;
}
.nav-left {
  display: flex;
  gap: 10px;
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.heading-mid {
  padding-top: 100px;
  color: white;
  text-align: center;
}
.heading-mid h1 {
  font-size: 48px;
}
.heading-mid a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
/* heading-end */
.mw2-right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.mw2-section {
  padding-top: 150px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 120px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.mw2-top-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* text-styles^ */
.mw2-top-text h2 {
  margin: 0;
  font-size: 27px;
  color: black;
  font-weight: bold;
}

/* text-styles^ */

.card-group {
  display: flex;
  align-items: center;
  gap: 20px;
}
.beatle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 999px;
  background-color: #f7f7f7;
  padding: 15px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.red-cart {
  display: flex;
  align-items: center;
  color: white;
  background-color: #ef717a;
  border: none;
  padding: 15px;
  border-radius: 999px;
  gap: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: ease-in-out;
  transition: 0.3s;
}
.red-cart:hover {
  background-color: #0171f9;
  transition: ease-in-out;
  transition: 0.3s;
}
.red-cart > * {
  width: 20px;
}
.bottom-flex-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}
.bottom-col-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.bottom-col-wrapper p {
  margin: 0;
  font-size: 14px;
  color: #aaa;
}
.bottom-col-wrapper span {
  font-size: 14px;
}
#max-width {
  font-size: 14px;
  margin: 0;
}
/* MW2-section-end */

/* review-section */

.review-section {
  padding: 70px;
}
.review-container {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  border-radius: 25px;
  padding: 60px;
}
.review-top {
  display: flex;
  align-items: center;
  gap: 50px;
}
.review-container p {
  font-size: 14px;
}

/* top-categories */
.Top-Categories {
  padding-bottom: 170px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.top-category-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.red-btn0 {
  width: 120px;
  padding: 20px;
  background-color: #ef717a;
  color: white;
  font-weight: bold;
  border-radius: 999px;
  cursor: pointer;
  border: none;
  transition: ease-in-out;
  transition: 0.3s;
}
.top-category-col h4 {
  font-size: 15px;
  color: #ef717a;
  font-weight: bolder;
  margin: 0;
}
.top-category-col {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.top-category-col h2 {
  margin: 0;
  font-size: 36px;
  color: black;
  font-weight: bolder;
}
.red-btn0:hover {
  background-color: #0171f9;
  transition: ease-in-out;
  transition: 0.3s;
}
.top-category-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 25px;
}
.top-category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0171f9;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  overflow: hidden;
}
.top-category-card img {
  border-radius: 25px;
  cursor: pointer;
  height: 100%;
}
.top-category-top h3 {
  color: #ef717a;
  font-size: 16px;
  font-weight: bolder;
}
.top-category-top h2 {
  color: black;
  font-size: 32px;
  font-weight: bolder;
}
/* footer */
footer {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
  background: linear-gradient(#0171f9 0 50%, #0171f8 50% 100%);
}
.footer-content {
  display: flex;
  align-items: center;
  padding-bottom: 120px;
  justify-content: center;
  color: white;
}
.footer-content p {
  margin: 0;
}
span:hover {
  cursor: pointer;
  color: rgb(192, 188, 188);
  transition: ease-in-out;
  transition: 0.3s;
}
