body {
  width: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
header {
  width: 100%;
  display: flex;
  border-bottom-left-radius: 130px;
  border-bottom-right-radius: 130px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  padding-bottom: 150px;
  background: linear-gradient(#0171f9 0 50%, #0171f8 50% 100%);
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 65%;
  padding: 30px 0;
}
nav {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
li a {
  color: white;
  text-decoration: none;
}
ul {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
  padding: 0;
  color: white;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 5px;
}
.Nav-btn {
  background-color: #ef717a;
  width: 95px;
  padding: 13px;
  border-radius: 999px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.nav-left img {
  width: 75px;
}
.nav-left {
  display: flex;
  gap: 10px;
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.heading-mid {
  padding-top: 100px;
  color: white;
  text-align: center;
}
.heading-mid h1 {
  font-size: 48px;
}
.heading-mid a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
/* heading-end */

/* main-start */
.main-section {
  padding: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.trending-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.trending-card-top img {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.trending-card {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.trending-card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.trending-card-col {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
/* text-styles */

.trending-card-col p {
  margin: 0;
}
.circle-red {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ef717a;
  cursor: pointer;
}
.blue-trending {
  height: fit-content;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: #0d90f8;
  border-radius: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.blue-trending p {
  margin: 0;
  color: white;
}
.trending-card:hover .circle-red {
  transition: ease-in-out;
  transition: 0.3s;
  background-color: #0d90f8;
}
.circle-red {
  transition: ease-in-out;
  transition: 0.3s;
}
.bottom-main {
  display: flex;
  gap: 10px;
}
.gray-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #eeeeee;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  transition: ease-in;
  transition: 0.3s;
  font-size: 14px;
  font-weight: bold;
}
.gray-circle:has(p#has) {
  background-color: #0171f9;
  color: white;
}
.gray-circle:hover {
  background-color: #0171f9;
  transition: ease-in;
  transition: 0.3s;
  color: white;
}
.red-btn {
  width: 120px;
  background-color: #ef717a;
  padding: 12px;
  color: white;
  border: none;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
}
.gray-btn {
  width: 120px;
  color: black;
  background-color: #eeeeee;
  border-radius: 999px;
  border: none;
  padding: 12px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: ease-in-out;
  transition: 0.3s;
}
.gray-btn2 {
  width: 100px;
  color: black;
  background-color: #eeeeee;
  border-radius: 999px;
  border: none;
  padding: 12px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: ease-in-out;
  transition: 0.3s;
}
.top-main {
  display: flex;
  gap: 15px;
}
.gray-btn2:hover {
  color: #ef717a;
  transition: ease-in-out;
  transition: 0.3s;
}
.gray-btn:hover {
  color: #ef717a;
  transition: ease-in-out;
  transition: 0.3s;
}
/* footer */
footer {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
  background: linear-gradient(#0171f9 0 50%, #0171f8 50% 100%);
}
.footer-content {
  display: flex;
  align-items: center;
  padding-bottom: 120px;
  justify-content: center;
  color: white;
}
.footer-content p {
  margin: 0;
}
span:hover {
  cursor: pointer;
  color: rgb(192, 188, 188);
  transition: ease-in-out;
  transition: 0.3s;
}
